<!-- J'ai ajouté un formulaire pour plus tard, je cherche à pouvoir envoyer un nouveau post dans le app-post-list-->
<form class="list-group-item">
  <div class="form-group">
    <label for="exampleFormControlInput1">Write a title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="here" >
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Impose your amazing writing talent</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="here"></textarea>
  </div>
  <button class="btn btn-success" (click)="addPost()">Submit</button>
</form>
